<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sdrppbrown.sdrppbrown">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:label="SDR++Brown"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        android:hasCode="true">

        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="sdrpp_core" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
</manifest>
